
/*Los prefijos -webkit y -moz se colocan para que enuestro código sea compatible con las diferentes versiones de los navegadores*/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; /*Otorgamos margin y padding con valor 0*/
  margin: 0;
  font-family: courier;
}


/*---TITULO DEL PROYECTO----*/
h1{
	width: 15%;
	font-weight: bold;
	font-size: 14pt;
	margin-left:390px;	

}

/*LISTAS DESORDENADAS PARA COLOCAR LA IMAGEN*/
ul{
	list-style: none;
}
li{
	
	/*outline: 2px solid blue;*/
	margin: 10px;
	padding: 0px;
	display: inline-block;
	box-sizing: border-box;
	position: relative; /*mientras sus cordenadas no esten
	declaradas no afecta, permite q se mueva a donde se 
	encuentra la caja posicionada*/
	
}
img{
	padding: 10px;
	height: 160px;
	width: 160px;
	
}
p{
	margin: 0px;
	position: absolute;
	left: 35px;
	right: 10px;
	bottom: 20px;
	color: white;
	font-size: 11pt;
	/*outline: 1px solid red;*/	
	font-weight: bold;
}


.container{
	margin: 10px;
	width: 100%;
	
	list-style: none;
	padding: 0px;
	text-align: center;

}

.border{
	border-bottom: 5px solid black;
	width:5%;
	margin-left: 29%;
}